---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=74907587235e3128e86bc656da03d6ce&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1647270470,"sunrise":1647263577,"sunset":1647306323,"temp":39.72,"feels_like":35.44,"pressure":1019,"humidity":50,"dew_point":23.68,"uvi":0.86,"clouds":5,"visibility":10000,"wind_speed":5.99,"wind_deg":340,"wind_gust":17,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1647270000,"temp":39.72,"feels_like":39.72,"pressure":1019,"humidity":50,"dew_point":23.68,"uvi":0.86,"clouds":5,"visibility":10000,"wind_speed":1.66,"wind_deg":46,"wind_gust":2.84,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1647273600,"temp":39.78,"feels_like":39.78,"pressure":1020,"humidity":48,"dew_point":22.87,"uvi":2.07,"clouds":5,"visibility":10000,"wind_speed":1.01,"wind_deg":223,"wind_gust":2.48,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1647277200,"temp":40.96,"feels_like":40.96,"pressure":1021,"humidity":44,"dew_point":22.01,"uvi":3.44,"clouds":4,"visibility":10000,"wind_speed":2.15,"wind_deg":204,"wind_gust":3.8,"weather":[{"id":800,"main":[...]
