---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=kjashf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f917000010000014fa2fa74f8a84be0b5e2277c437ea9f2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19909'
      X-Ratelimit-Reset:
      - '1649023904'
      X-Server:
      - anteater
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[],"total_results":0}'
  recorded_at: Sun, 06 Mar 2022 23:18:25 GMT
recorded_with: VCR 6.0.0
